* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
a {
  text-decoration: none;
}
.headerTitle,
.matchingData {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

form {
  margin: auto;
  max-width: 300px;
}
form.inputSearchbar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.inputSearchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #c6c6c7;
  color: rgb(19, 15, 15);
  font-size: 17px;
  border: 1px solid grey;
  border-right: none;
  cursor: pointer;
  border-radius: 20px 0 0 20px;
}

form.inputSearchbar button:hover {
  background: #0b7dda;
}
.searchArea {
  border-left: none;
  border-radius: 0 20px 20px 0;
}
.searchArea:hover {
  border: none;
  /* border-radius: 0 20px 20px 0; */
}

form.inputSearchbar::after {
  content: "";
  clear: both;
  display: table;
}
.indexItem {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
table tbody {
  width: 500px;
}
th {
  /* border: 1px solid gray; */
  /* padding: 8px; */
}
tr {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}
.profileSection {
  width: 500px;
  height: auto;
  /* padding: 10px; */
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
  margin: 0px 0 0 0;
}
.profileSectionIndex {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.profileInfo {
  display: flex;
  text-align: start;
}
.profileImg {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px 10px;
}
.proImg {
  width: 70px;
  height: 50px;
}
.profileName {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding-left: 30px;
}
.profileTitleName {
  font-size: large;
}
.profileNickName {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.nicknameTitle {
  height: auto;
  border: 1px solid #000;
  padding: 0 3px;
  font-size: 10px;
}
.profileLike {
  color: red;
  font-size: 20px;
  display: flex;
  padding: 10px 10px 0 0;
}
.profileLikeTitle {
  color: #8b8a8a !important;
  font-size: 13px;
  padding: 0 0 0 10px;
}
.profileArrow,
a {
  color: #a407ff;
}
.profileArrow {
  color: #a407ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  border-left: 1px solid gray;
  height: 70px;
  padding: 0 10px;
}
.profileArrow,
a:hover {
  color: #07ff34;
  font-size: 45px;
  max-zoom: initial;
}

.tittleArrow {
  animation: shake 2s ease infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
